@font-face {
    font-family: 'nanami-regular';
    src: url("Nanami-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'nanami-bold';
    src: url("Nanami-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'gilroy light';
  src: url("gilroy-light.otf") format("opentype"); 
}

@font-face {     
  font-family: 'gilroy bold';
  src: url("gilroy-bold.otf") format("opentype"); 
} 

.title {
    font-size: 100px; 
    color: white;
    font-family: 'nanami-regular';
}

.subtitle {
    font-family: 'nanami-bold';
}

body {
  margin: 0;
  font-family: Arial;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 2;
}

.route {
  font-family: 'gilroy light';
}

.fa {
  padding: 12px;
  font-size: 100px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

.fa-facebook {
  background: #CFCFCF;
  color: #01508a;
}

.fa-linkedin {
  background: #CFCFCF;
  color: #01508a;
}

.fa-twitter {
  background: #CFCFCF;
  color: #01508a;
}

.fa-google {
  background: #CFCFCF;
  color: #01508a;
}

.fa-instagram {
  background: #CFCFCF;
  color: #01508a;
}

.fa-rss {
  background: #ff6600;
  color: white;
}